@import "styles/variables.scss";

.sidemenu {
  width: inherit;
  display: flex;
  flex-direction: column;
  .link-item {
    padding: 15px 10px;
    font-size: 13px;
    color: $text-inactive;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    border-left: 3px solid transparent;
    &.active {
      border-color: blue;
      color: $text-active;
      background-color: $white;
    }
    &:hover {
      background-color: $white;
      color: $text-active;
    }
  }
}
